@use "../foundation/mixin" as m;

.l-container {
    width: 80%;
    margin: 77px auto 100px auto;
    padding: 200px;


    &__work {}

    &__skill {
        margin-top: 100px;
        margin-bottom: 100px;
    }

    &__about {}

    &__contact {
        margin-top: 100px;
    }
}