@use "../../foundation/mixin" as m;
@use "../../foundation/color" as c;
@use "../../foundation/font" as f;


.p-work {

    &__title {
        margin-bottom: 30px;
    }

    &__choice-button {
        overflow: hidden;
    }

    /*選択するサムネイル画像の設定*/
    &__choice-button li {
        cursor: pointer;
        outline: none;
        background: #333;
    }

    &__choice-button li img {
        opacity: 0.4;
        /*選択されていないものは透過40%*/
    }

    &__choice-button li.slick-current img {
        opacity: 1;
        /*選択されているものは透過しない*/
    }

    &__list {
        margin-top: 10px;
    }

    &__second-title {
        margin-top: 20px;
        text-align: center;
        font-size: 1.5rem;
    }

    &__item {
        position: relative;
    }

    .slick-list {
        overflow: visible;
    }




    //   吹き出し

    &__skill-list {
        position: absolute;
        top: 80px;
        right: 106%;
        display: inline-block;
        padding: 40px 30px;
        min-width: 210px;
        max-width: 100%;
        color: #555;
        font-size: 16px;
        background: #FFF;
        border: solid 3px #555;
        border-radius: 50px;
        box-sizing: border-box;
        white-space: nowrap;
    }

    &__skill-list:before {
        content: "";
        position: absolute;
        top: 50%;
        right: -24px;
        margin-top: -12px;
        border: 12px solid transparent;
        border-left: 12px solid #FFF;
        z-index: 2;
    }

    &__skill-list:after {
        content: "";
        position: absolute;
        top: 50%;
        right: -30px;
        margin-top: -14px;
        border: 14px solid transparent;
        border-left: 14px solid #555;
        z-index: 1;
    }

    &__skill {
        margin-top: 20px;
    }
}


/*矢印の設定*/

/*戻る、次へ矢印の位置*/
.slick-prev,
.slick-next {
    position: absolute;
    /*絶対配置にする*/
    z-index: 3;
    top: 42%;
    cursor: pointer;
    /*マウスカーソルを指マークに*/
    outline: none;
    /*クリックをしたら出てくる枠線を消す*/
    border-top: 2px solid #000;
    /*矢印の色*/
    border-right: 2px solid #000;
    /*矢印の色*/
    height: 25px;
    width: 25px;
}

.slick-prev {
    /*戻る矢印の位置と形状*/
    left: -2.5%;
    transform: rotate(-135deg);
}

.slick-next {
    /*次へ矢印の位置と形状*/
    right: -2.5%;
    transform: rotate(45deg);
}